<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Portal: Email Confirmation Letter</title>
</head>

<body>
    <main>
        <p>Dear, <b>{email}</b></p>
        <p>Your email used for registration on the Testing Portal</p>
        <p>For confirmation registration please visit this
            <a href="{emailConfirmationLink}" target="_blank"
                    rel="noopener noreferrer">
                    <b>link</b>
                </a>
        </p>
        <p><i>If you didn't register on the site - just ignore this letter.</i></p>
    </main>

</body>

</html>